@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #e7edf0;
    text-decoration: none;
}

p, h1, h2 {
    font-family: "Montserrat", sans-serif;
}

/* -- Navbar Start -- */
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color:  rgb(37, 40, 65);
        padding-top: 0px;
        padding: 30px, 10%;
    }

    .logo {
        width: 6%;
        height: auto;
        cursor: pointer;
        margin-right: auto;
        padding-left: 10px;
    }

    .cta {
        padding-right: 50px;
    }

    .nav__links {
        list-style: none;
    }

    .nav__links li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav__links li a {
        transition: all 0.3s ease 0s;
    }

    .nav__links li a:hover {
        color: rgba(165, 212, 226, 0.986);
    }

    button {
        margin-left: 20px;
        padding: 9px 25px;
        background-color: rgba(85, 57, 5, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-weight: bold;
    }

    button:hover {
        background-color: rgba(85, 57, 5, 0.65);
    }
/* -- Navbar End -- */

/* -- About Us Start -- */
.columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column {
    width: 48%;
}

@media (max-width:768px) {
    .columns {
        flex-direction: column;
    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }
}
/* -- About Us End -- */