@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Montserrat:400');

/* 
--text: rgb(14, 23, 15);
--background: rgb(249, 251, 249);
--primary: rgb(105, 165, 117);
--secondary: 166, 186, 201;
--accent: rgb(138, 145, 184);

 */

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

li, a, button, label {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 16px;
      color: rgb(14, 23, 15);
      text-decoration: none;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  background-color: rgb(249, 251, 249);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #a0b5c5;
    padding: 5px;    
}

footer {
    display: block;
    background-color: rgb(167, 187, 202);
    padding: 5px;
    border-style: ridge;
}

form {
    border-style: groove; 
    border-width: 2px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    background-color: rgb(128, 179, 138);
    max-width: 500px;
    width: auto;
}

button {
    padding: 9px 25px;
    background-color: rgb(105, 165, 117);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

button:hover {
    background-color: rgb(249, 251, 249);
}

.gallery {
    margin: 5px;
    border-style: groove;
    border: 2px black;
    display: inline-block;
}

.gallery .description {
    padding: 5px;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
}

.logo {
    margin: 5px;
    width: auto;
    height:100px;
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    font-weight: bold;
    color: rgb(14, 23, 15);
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(249, 251, 249);
}

.cta {
    padding: 10px;
}

.primary__section {
    background-color: rgb(128, 179, 138);
    border-style: groove;
    border-width: 2px;
    margin: 5px;
    padding: 5px;
}

.quote__form input[type=text], input[type=tel], input[type=email], input[type=submit], textarea {
    font-family: "Montserrat";
    font-weight: bold;
    background-color: rgb(249, 251, 249);
    border-style: groove;
    border-radius: 10px;
    border-width: 2px;
    width: 100%;
    height: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#about__us {
    max-width: 500px;
}

.quote__form input[type=submit]:hover {
    background-color: rgb(138, 144, 183);
  }

.quote__form label {
    font-family: "Montserrat";
    font-weight: 900;
}

.quote__form h3 {
    text-align: center;
}


