@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Montserrat:400');

/* 
        Color Scheme
--text: rgb(20, 14, 11);
--background: rgb(250, 246, 245);
--primary: rgb(169, 116, 102);
--secondary: rgb(202, 202, 160);
--accent: rgb(124, 143, 182);
 */

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

 h1, h2, h3, h4, h5 {
    font-family: 'Montserrat';
    font-weight: 700;
  }
  
  li, a, button {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: rgb(20, 14, 11);
      text-decoration: none;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  background-color: rgb(250, 246, 245);
}

/* -- Navbar Start -- */
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgb(169, 116, 102);
        padding-top: 0px;
        padding: 30px, 10%;
    }

    .logo {
        margin: 5px;
        width: auto;
        height:100px;
        cursor: pointer;
        margin-right: auto;
    }

    .nav__links {
        list-style: none;
    }

    .nav__links li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav__links li a {
        font-weight: bold;
        color: rgb(20, 14, 11);
        transition: all 0.3s ease 0s;
    }

    .nav__links li a:hover {
        color: rgb(250, 246, 245);
    }

    .cta {
        padding: 10px;
    }

    button {
        margin-left: 20px;
        padding: 9px 25px;
        background-color: rgb(202, 202, 160);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-weight: bold;
    }

    button:hover {
        background-color: rgb(250, 246, 245);
    }
/* -- Navbar End -- */

/*  About Us Start  */
.about__container {
    background-color: rgb(202, 202, 160);
    margin: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    max-width: 600px;
}

.image__team {
    margin-top: 20px;
    padding-left: 10px;
}
/*  About Us End  */

